[Unit]
Description=Background Changer Script

[Service]
Type=oneshot
ExecStart=/home/sl/.dot/bin/groundbreaker

[Install]
WantedBy=groundbreaker.timer
