[Unit]
Description=StatusCenter message broker

[Service]
Type=simple
ExecStart=/home/sl/dev/StatusCenter/broker.sh

[Install]
WantedBy=default.target
